@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  background-color: #0D1117; /* same as your dark-bg */
  color: #C9D1D9; /* optional: matches your theme */
}

html {
  scroll-behavior: smooth;
}